.TimeInput {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  background: whitesmoke;
  border-radius: 7px;
  padding: 10px;
  overflow: auto;
  height: 100%
}

.TimeInputMain {
  overflow: auto;
  height: 100%;
}

.TabContent {
  height: calc(100% - 70px);
}

.TabPane {
  height: 100%;
}