.MasterListDetailList {
  background: whitesmoke;
  padding: 10px;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: auto;

}

.List {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Seperator {
  height: 100%;
  width: 1px;
  background: #ccc;
  margin-left: 7px;
}