.Input {
    width: fit-content;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.Field{
    height: 45px;
    display: flex;
    cursor: text;
}

.Radio {

}

.FieldIcon {
    width: 40px;
    line-height: 45px;
    position: relative;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

.InputElement {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.InputElement:focus {
    outline: none;
    background-color: #eee;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}