.CompanyManagement {
  height: 100%;
}

.ListItemDataHeader {
  font-size: 9px;
  font-weight: bold;
}

.EmailListItem {
  margin: 5px;
}

.EmailRemove {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.EmailRemove svg {
  color: #a21f2d;
  cursor: pointer;
  font-size: 18px;
}

.EmailRemove svg:hover {
  color: red;
}