.RootCol {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.LayoutContainer {
    height: calc(100% - 70px);
}

.SideMenuCol {
    height: 100%;
}

.MainContentCol {
    height: 100%;
}

@media screen and (max-width: 991px){
    .SideMenuCol {
        display: none;
    }
}