.TaskManagement {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  background: whitesmoke;
  border-radius: 7px;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}