.LoadingIcon {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.LoadingIconLabel {
  font-weight: bold;
  color: #6c757d;
  letter-spacing: 5px;
}

@keyframes LoadingIconInner {
  0% { opacity: 1 }
  50% { opacity: .5 }
  100% { opacity: 1 }
}
.LoadingIconInner div {
  width: 20px;
  height: 80px;
  margin: 7px;
  animation: LoadingIconInner 1s cubic-bezier(0.5,0,0.5,1) infinite;
}
.LoadingIconInner div:nth-child(1) {
   background: #3be8b0;
   animation-delay: -1s;
 }
.LoadingIconInner div:nth-child(2) {
    background: #1aafd0;
    animation-delay: -0.75s;
  }
.LoadingIconInner div:nth-child(3) {
     background: #6a67ce;
     animation-delay: -0.5s;
   }
.LoadingIconInner div:nth-child(4) {
      background: #ffb900;
      animation-delay: -0.25s;
    }

.LoadingIconInner {
  display: flex;
  justify-content: center;

}
.LoadingIconInner div { box-sizing: content-box; }