@use 'src/index';

.NavigationItem {
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    font-size: 15px;
}

.NavIcon {
    margin-right: 15px;
}

.NavigationItem a {
    color: dimgray;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    padding: 10px;

}

.NavigationItem a:hover,
.NavigationItem a.active {
    background: #ddd;
    border-radius: 5px;
}

.NavigationItem a:hover {
    color: dimgrey;
    text-decoration: none;
}

.NavigationItem a.active {
    color: index.$primary-color;
    background: #ddd;
    border-radius: 5px;
}
