@use 'src/index';

.MenuBar {
    background: index.$primary-color;
}

.Logout {
    cursor: pointer;
    margin-right: 20px;
    color: black;
}

.Logout:hover {
    color: dimgrey;
}

.Logo {
    height: 80%;
    margin-left: 5px;
}

@media screen and (min-width: 991px){
    .MobileNav {
        display: none;
    }
}