@use 'src/index';

.Button {
    background-color: #aaa;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    margin: 5px;
    font-weight: bold;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Default {
    color: #cccccc;
}

.Success {
    background-color: index.$primary-color;
    color: whitesmoke;
}

.Danger {
    color: #944317;
}

.Hidden {
    display: none !important;
}