.ListHeader {
  background: #dfdfdf;
  width: 100%;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 19px;

}

.ListHeaderLine {
  width: 107%;
  height: 1px;
  background: #ccc;
  transform: translateY(20px);
}