.ListBody {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 20px;
  height: 100%;
  overflow: auto;
}

.ListBodySectionActive {
  height: 70%;
  box-sizing: border-box;
}

.ListBodySectionInactive {
  height: 30%;
  box-sizing: border-box;
}

.ListBody ul {
  list-style: none;
  padding: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.ListItem {
  margin-top: 5px;
  margin-bottom: 5px;
  background: #dfdfdf;
  padding: 7px 12px 7px 12px;
  border-radius: 3px;
}

.ListItem:hover {
  cursor: pointer;
  background: #38b6ff;
}

.Selected {
  background: #38b6ff;
}

.CardHeader {
  text-align: center;
  cursor: pointer;
}