.Auth {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 23em;
  transform: translate(-50%,-50%);
  background: rgba(122,122,122,0.07);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}

.Error {
  color: #b21f2d;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: 10px;
}


.Backdrop {
  background: #0c5460;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .Auth {
    width: 90%;
  }
}