.SideMenu {
    background: #eee;
    padding: 10px;
    flex-shrink: 0;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.User {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
}

.UserIcon {
    font-weight: bold;
    width: 40px;
    height: 40px;
    background: #38b6ff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 15px;
    font-size: 22px;
}

.Username {
    font-weight: bold;
}

@media screen and (max-width: 991px){
    .SideMenu {
        display: none;
    }
}