.LocationManagement {

}

.TaskSelect ul {
  list-style: none;
}

.Pill {
  padding: 7px 12px 7px 12px;
  margin: 2px 2px;
}

.PillDelete {
  margin-left: 5px;
  cursor: pointer;
}

.PillDelete:hover {
  color: #ddd;
}