.Dashboard {
  padding: 10px;
}

.DashboardCard {
  cursor: pointer;
  text-align: center;
  margin: 15px;
}

.DashboardCardIcon {
  font-size: 60px;
  margin: 20px;
}

.DashboardCard:hover {
  background: #efefef;
}