@use 'src/index';

.NavigationItems {
    margin-top: 30px;
    padding: 0px;
    list-style: none;
    flex-flow: column;
    display: flex;
    height: 100%;
    overflow: auto;
}

.MobileNav {
    margin-top: 60px;
}

.MobileNav div {
    background: index.$primary-color;
    border: none;
}

@media screen and (max-width: 991px){
    .NavigationItems {
        display: none;
    }
}

@media screen and (min-width: 991px){
    .MobileNav {
        display: none;
    }
}